<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Town Parilament</title>

    <%= javascript_include_tag "application" %>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= yield :head %>

  </head>

  <body>

    <%= render "layouts/application/header" %>

    <div class="container">

      <div class="panel panel-default">
        <div class="panel panel-body">

          <%= render "layouts/application/flash_messages" %>

          <%= yield %>

        </div>
      </div>

    </div>

  </body>

</html>
