<div class="modal fade" id="clause-modal-<%= @subject.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><strong><h4>Clan</h4></strong></div>
        <div class="col-md-4"></div>
      </div>
      <%= form_for @subject.clauses.build, url: create_clause_path, html: { class:"form-horizontal" }, remote: true do |fc| %>
      <%= fc.hidden_field :subject_id, value: @subject.id %>
      <div class="form-group">
        <div clas="row">
          <label class="col-md-4 control-label" ></label>
           <div class="col-md-4">
            <%= fc.text_field :name, class: "form-control input-md", placeholder: "Naziv",required: true %>
          </div>
        </div>
      </div>

      <!-- dugmad -->
      <br>
      <br>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <span>
            <%= fc.submit "Add Clause", class:"btn btn-danger" %>
          </span>
          <span>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </span>
        </div>
        <% end %>
        <br>
      </div>
      <br>
    </div>
  </div>
</div>