<div id="clause-<%= @clause.id %>">
  Clan: <%= @clause.name %> 

  <%= link_to "Delete", destroy_clause_path(id: @clause.id), method:"delete", data: {confirm: "Are you sure?"}, class: "btn btn-danger",remote: true %>

  <%= link_to "Add Stav", prepare_stance_path(id: @clause.id) , method:"post", class: "btn btn-primary", remote: true %>

  <% @clause.stances.each do |stance| %>
  	<%= render partial: "stance_info", locals: { "@stance": stance } %>
  <% end %>
</div>