<%= form_for @act, html: { class:"form-horizontal" } do |f| %>
  <% if @act.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@act.errors.count, "error") %> prohibited this act from being saved:</h2>
      <ul>
      <% @act.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- star from here -->
  
  <!-- ACT -->

  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Drzava</label>  
    <div class="col-md-4">
    <%= f.text_field :state, class: "form-control input-md", required: true %>
   </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Naziv</label>  
    <div class="col-md-4">
    <%= f.text_field :name, class: "form-control input-md", required: true %>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Grad</label>  
    <div class="col-md-4">
      <%= f.text_field :city, class: "form-control input-md", required: true %>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-4 control-label" >Datum</label>
    <div class="col-md-4">                     
      <div class='input-group date' id='datetimepicker1'>
        <%= f.date_select(:date, :order => [:day, :month, :year], required: true) %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="textarea">Preambula</label>
    <div class="col-md-4">                     
      <%= f.text_area :preambula, class: "form-control input-md", required: true %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>

  <!-- GLAVE -->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <label class="control-label" >Uvodni dio</label>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#intro-head-modal">Add glava</button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-md-offset-4 intro-heads-place">
      
    </div>

  </div>




  <%= render "head_introduction_modal" %>
  <div class="modal-place"></div>

