<div id="stance-<%= @stance.id %>">
  Stav: <%= @stance.name %> 

  <%= link_to "Delete", destroy_stance_path(id: @stance.id), method:"delete", data: {confirm: "Are you sure?"}, class: "btn btn-danger",remote: true %>

  <%= link_to "Add Tacka", prepare_dot_path(id: @stance.id) , method:"post", class: "btn btn-primary", remote: true %>

  <% @stance.dots.each do |dot| %>
    <%= render partial: "dot_info", locals: { "@dot": dot } %>
  <% end %>
</div>