<div id="subject-<%= @subject.id %>">
  Predmet: <%= @subject.name %> 

  <%= link_to "Delete", destroy_subject_path(id: @subject.id), method:"delete", data: {confirm: "Are you sure?"}, class: "btn btn-danger",remote: true %>

  <%= link_to "Add Clan", prepare_clause_path(id: @subject.id) , method:"post", class: "btn btn-primary", remote: true %>

  <% @subject.clauses.each do |clause| %>
  	<%= render partial: "clause_info", locals: { "@clause": clause } %>
  <% end %>
</div>