<div class="modal fade" id="subdot-modal-<%= @dot.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><strong><h4>Podtacka</h4></strong></div>
        <div class="col-md-4"></div>
      </div>
      <%= form_for @dot.subdots.build, url: create_subdot_path, html: { class:"form-horizontal" }, remote: true do |fsd| %>
      <%= fsd.hidden_field :dot_id, value: @dot.id %>
      <div class="form-group">
        <div clas="row">
          <label class="col-md-4 control-label" ></label>
           <div class="col-md-4">
            <%= fsd.text_field :name, class: "form-control input-md", placeholder: "Naziv",required: true %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div clas="row">
          <label class="col-md-4 control-label" ></label>
           <div class="col-md-4">
            <%= fsd.text_area :content, class: "form-control input-md", placeholder: "Sadrzaj",required: true %>
          </div>
        </div>
      </div>

      <!-- dugmad -->
      <br>
      <br>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <span>
            <%= fsd.submit "Add Podtacka", class:"btn btn-danger" %>
          </span>
          <span>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </span>
        </div>
        <% end %>
        <br>
      </div>
      <br>
    </div>
  </div>
</div>