<p id="notice"><%= notice %></p>

<h1>Listing Acts</h1>

<table class="table table-striped">
  <thead>
    <th style="width: 70%">Act name</th>
    <th style="width: 5%">Show</th>
    <th style="width: 5%">Edit</th>
    <th style="width: 5%">Destroy</th>
  </thead>
  <tbody>
    <% @acts.each do |act| %>
      <tr>
        <td><%= act.name %></td>
        <td><%= link_to('<button type="button" class="btn btn-info">Show</button>'.html_safe, act) %></td>
        <td><%= link_to('<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_act_path(act)) %></td>
        <td><%= link_to('<button type="button" class="btn btn-danger">Destroy</button>'.html_safe, act, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('<button type="button" class="btn btn-primary">New Act</button>'.html_safe, new_act_path) %>
